@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(12% 0.042 264.695);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(27% 0.041 260.031);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(37% 0.146 265.522);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(65% 0.241 354.308);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(12% 0.042 264.695);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(27% 0.041 260.031);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(37% 0.146 265.522);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(65% 0.241 354.308);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(96% 0.003 264.542);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(97% 0 0);
  --color-base-content: oklch(14% 0.005 285.823);
  --color-primary: oklch(12% 0.042 264.695);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(27% 0.041 260.031);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(37% 0.146 265.522);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(65% 0.241 354.308);
  --color-neutral-content: oklch(97% 0.013 17.38);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
} */
